{% extends "layout.html" %}
{% block content %}
<form action="/upload" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin w3-display-middle" method="post" style="width:450px" enctype=multipart/form-data>
    <h2 class="w3-center">{{i18n['title']}}</h2>
    <div class="w3-row-padding w3-section">
        <div class="w3-threequarter">
            <span class="w3-badge w3-left w3-margin-right">1</span><label>{{i18n['project_name']}}</label>
            <div class="w3-rest">
                <input class="w3-input w3-border w3-round-large" name="project_name" type="text" readonly value = {{data["project_name"]}} placeholder="One" >
            </div>
        </div>
        <div class="w3-quarter">
            <label>{{i18n['project_id']}}</label>
            <div class="w3-rest">
                <input class="w3-input w3-border w3-round-large" name="project_id" type="text" readonly value = {{data["project_id"]}} placeholder="Two">
            </div>
        </div>
    </div>
    <div class="w3-row w3-section">
        <span class="w3-badge w3-left w3-margin-right">2</span><label>{{i18n['entity_type']}}</label>
        <div class="w3-rest">
            <input class="w3-input w3-border w3-round-large" name="entity_type" type="text" readonly value = {{data["entity_type"]}}>
        </div>
    </div>
    <div class="w3-row-padding w3-section">
        <div class="w3-threequarter">
            <label>{{i18n['entity_name']}}</label>
            <div class="w3-rest">
                <input class="w3-input w3-border w3-round-large" name="entity_name" type="text" readonly value = {{data["entity_name"]}} placeholder="One">
            </div>
        </div>
        <div class="w3-quarter">
            {% if data['tasks'] is defined %}
                <label>{{i18n['entity_id']}}</label>
            {% else %}
                <label>{{i18n['task_id']}}</label>
            {% endif %}
            <div class="w3-rest">
                <input class="w3-input w3-border" name="entity_id" type="text" readonly value = {{data["entity_id"]}}  placeholder="Two">
            </div>
        </div>
    </div>
    {% if data['tasks'] is defined %}
    <div class="w3-row w3-section">
        <span class="w3-badge w3-left w3-margin-right">3</span><label>{{i18n['tasks']}}</label>
        <div class="w3-rest">  
            <select name="task_id" class="w3-select">
                {% for task in data['tasks'] %}
                <option value= "{{task['id']}}" SELECTED>{{task['content']}}</option>"
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}
    <div class="w3-row w3-section">
        {% if data['tasks'] is defined %}
            <span class="w3-badge w3-left w3-margin-right">4</span>
        {% else %}
            <span class="w3-badge w3-left w3-margin-right">3</span>
        {% endif %}
        <label>{{i18n['select_media']}}</label>
        <div class="w3-rest">
            <input class="w3-input w3-border w3-round-large" type=file name=file>
        </div>
    </div>
    <div class="w3-row w3-section">
        {% if data['tasks'] is defined %}
            <span class="w3-badge w3-left w3-margin-right">5</span>
        {% else %}
            <span class="w3-badge w3-left w3-margin-right">4</span>
        {% endif %}
        <label>{{i18n['use_diy']}}</label>
        <input class="w3-check" name="use_diy" type="checkbox">
    </div>
    <p class="w3-center">
        <button class="w3-button w3-section w3-blue w3-ripple"> {{i18n['create_button']}} </button>
    </p>
</form>
{% endblock %}